<div class="clearfix">
  <div class="corgi-container" id="misses">
    <h2>Thanks, but No Thanks</h2>
    <ul>
    <% @corgis.each do |corgi| %>
      <% if !corgi.match && corgi.match != nil %>
      <li class='corgi'>
        <h4> <%= corgi.name %> </h4>
        <img src="<%= corgi.profile_img %>" class="pic"/>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="corgi-container" id="candidates">

    <ul>

      <% @corgis.each_with_index do |corgi, i| %>
        <li class="corgi <%= (i == 0) ? 'active' : 'hidden' %>" id="<%= corgi.id %>">
          <h3><%= corgi.name %></h3>
          <%= image_tag corgi.profile_img, :class => "pic" %>
          <p class="bio"><%= corgi.bio %></p>
        </li>
      <% end %>

    </ul>

    <button class="choose-corgi" id="paw-left">Paw Left (No, Thanks)</button>
    <button class="choose-corgi" id="paw-right">Paw Right (Yes, Please!)</button>

  </div>

  <div class="corgi-container" id="matches">
    <h2>Matches!</h2>
    <ul>
      <% @corgis.each do |corgi| %>
        <% if corgi.match %>
          <li class='corgi'>
            <h4> <%= corgi.name %> </h4>
            <img src="<%= corgi.profile_img %>" class="pic"/>
          </li>
        <% end %>
      <% end %> 
    </ul>
  </div>
</div>
<div id="new-form">
</div>

  <%= link_to 'New Corgi', new_corgi_path, 'data-target' => '#new-form' %>
